:host {
    flex: 1 1 auto;
    padding: 10px;
    background-color: #ffffff;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .flightem {
        width: 30%;
    }
    @media screen and (min-width: 992px) {
        overflow: auto;
        .flightem .flight{
            width: 30%;
        }
    }
    @media screen and (max-width: 991px) {
        /* start of large tablet styles */
        .flightem {
            width: 50%;
        }
    }
    @media screen and (max-width: 767px) {
        /* start of medium tablet styles */
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .flightem {
            width: 30%;
        }
    }
    @media screen and (max-width: 479px) {
        /* start of phone styles */
        .flightem {
            width: 100%;
        }
    }
}